{% comment %} {% if shop.customer_accounts_enabled %}
{% if customer %}
    <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
    {% include 'icon-login' %}
    <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
    </a>
{% else %}
    <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
    {% include 'icon-login' %}
    <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
    </a>
{% endif %}
{% endif %} {% endcomment %}

{% if shop.customer_accounts_enabled %}
<style>
    .cust-acct-menu {
    
    }
    .cust-acct-header {
    text-align: center;
    font-size: 14px;
    margin: 0;
    }
    ul.cust-acct-list {
    margin: 0;
    }
    ul.cust-acct-list li {
    display: inline-block;
    font-size: 12px;
    }
</style>
<div class="cust-acct-menu">
    <h4 class="cust-acct-header">My Account</h4>
    <ul class="cust-acct-list">
    {% if customer %}
    <li>Sign out</li>
    {% else %}
    <li>Sign in</li>
    <li><span>or</span></li>
    <li>Sign up</li>
    {% endif %}
    </ul>
</div>
{% endif %}